.Sidebar{
    justify-content: space-between;
    align-items: center;
    background-color:darkgrey;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
    transition: all 0.2s ease-in-out;
}

.Sidebar:hover{
    justify-content: space-between;
    align-items: center;
    background-color:grey;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
    transition: all 0.25s ease-in-out;
    opacity: 0.80;
}

.SidebarItems{
    display: inline-grid;
    grid-gap:25px;
    list-style: none;
    align-items:center;
    text-align: center;
}

.SidebarItems:hover{
    box-shadow: 0 3px 0px rgba(0,0,0,0.25);
}